<footer class="footer">
  <div class="content container">
    <div class="main-section">
      <div class="footer-section one">
        <div class="logo">
          <img src="assets/images/smallLogo.svg" alt="matlop-logo">
        </div>
        <div class="description">
          <p>{{ 'footer.description' | translate }}</p>
        </div>
        <div class="social-media">
          <a href="https://www.facebook.com/matlopcom" target="_blank" class="social-icon">
            <span class="pi pi-facebook"></span>
          </a>
          <a href="https://www.instagram.com/matlop_sa" target="_blank" class="social-icon">
            <span class="pi pi-instagram"></span>
          </a>
          <a href="https://www.youtube.com/@elkashemcompany" target="_blank" class="social-icon">
            <span class="pi pi-youtube"></span>
          </a>
        </div>
      </div>

      <div class="two">
        <div class="links">
          <div class="title">{{ 'footer.company' | translate }}</div>
          <a class="pointer" (click)="goTo('about')">{{ 'footer.about_us' | translate }}</a>
          <a href="#">{{ 'footer.contact_us' | translate }}</a>
          <a class="pointer" (click)="goTo('common')">{{ 'footer.common_questions' | translate }}</a>
        </div>
        <div class="links">
          <div class="title">{{ 'footer.support' | translate }}</div>
          <a class="pointer" (click)="goTo('terms')">{{ 'footer.terms_conditions' | translate }}</a>
          <a class="pointer" (click)="goTo('privacy')">{{ 'footer.privacy_policy' | translate }}</a>
        </div>
      </div>
    </div>

    <div class="copy-rights">
      <div class="title">
        {{ 'footer.copyright' | translate }} {{ getCurrentYear() }}
      </div>
    </div>
  </div>
</footer>
