<nav class="navbar">
  <!-- Logo Section -->
  <div class="navbar-brand">
    <a href="/" class="logo">
      <img src="assets/images/smallLogo.svg" alt="matlop-logo">
    </a>
  </div>

  <!-- Navigation Links -->
  <div class="nav-links" [class.active]="isMenuOpen">
    <ul>
      <li *ngFor="let item of menuItems" routerLinkActive="active" class="nav-item">
        <a [routerLink]="item.path"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           (click)="isMenuOpen = false">
          {{ item.label | translate }}
        </a>
      </li>
      <li>
        <a 
        [routerLink]="'/location'"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           (click)="isMenuOpen = false"
         class="nav-item pointer" *ngIf="hasToken">{{'menuItems.locations'|translate}}</a>

      </li>
    </ul>
  </div>

  <!-- User Section -->
  <div class="user-section" [class.active]="isMenuOpen">
    <div class="notifications-section pointer" *ngIf="hasToken">
      <app-notifications></app-notifications>
      </div>
    <button class="lang-btn" (click)="toggleLanguage()">
      {{ selectedLang.toUpperCase() == 'AR' ? 'EN' : 'AR' }}
    </button>
    <button *ngIf="!hasToken" class="signin-btn" routerLink="/auth/login">{{ 'navbar.signIn' | translate }}</button>
    <div [routerLink]="'/profile'" class="user-avatar pointer" *ngIf="hasToken">
      <img [src]="profileImg" onerror="this.src='assets/images/user.png'" alt="User Avatar">
    </div>
  </div>

  <!-- Mobile Menu Button -->
  <button class="hamburger" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
