<div class="contract-container">
  <div class="row mt-2 mb-2">
    <h3>{{ 'Contract.CONTRACT_LIST' | translate }}</h3>
  </div>
  <div class="content row">
    <!-- Display contracts if contractList is not empty -->
    <ng-container *ngIf="contractList && contractList!= null; else emptyState">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of contractList">
        <div class="card mt-2 mb-2" (click)="goNext(item.contractTypeId)">
          <div class="card-content">
            <div class="details">
              <div class="title">
                <p>{{ selectedLang == 'ar' ? item.arName : item.enName }}</p>
              </div>
              <div class="visit-number">
                <p>{{ item.noOfVisit }} {{ 'Contract.VISIT' | translate }}</p>
              </div>
            </div>
            <div class="img">
              <img width="50" src="assets/images/contract.png" alt="contract">
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Empty state message -->
    <ng-template #emptyState>
      <div class="col-12 text-center">
        <p class="empty-state-text">{{ 'Contract.NO_CONTRACTS' | translate }}</p>
      </div>
    </ng-template>
  </div>
</div>
