<div class="services-section-container">
  <div class="container">
    <div class="content">
      <div class="details-section">
        <div class="title mb-4 mt-4">
          <p>{{ 'services.mainSections' | translate }}</p>
        </div>
        <div class="desc" *ngIf="!isServiceList()">
          <p>{{ 'services.description' | translate }}</p>
        </div>
      </div>
      <div class="services-items">
        <div class="row">
          <ng-container *ngFor="let service of services">
            <div class="service-card col-lg-3 col-md-6 col-sm-12 mt-3">
              <div class="card-content" (click)="goReservation(service.serviceId)">
                <div class="image-container">
                  <img src={{service.image}} alt="service image">
                </div>
                <p>{{selectedLang == 'ar' ? service.nameAr : service.nameEn }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="call-center-section mt-4 mb-4" *ngIf="!isServiceList()">
        <div class="call-content">
          <h3>{{ 'services.moreService' | translate }}</h3>
          <p>{{ 'services.callHelp' | translate }}</p>
          <a href="https://api.whatsapp.com/send/?phone=966510021622&text=Hello%2C+I+would+like+to+contact+you.&type=phone_number&app_absent=0" target="_blank">
            <div class="mt-6 px-24 mx-2 !w-max text-center HeroSection_hero-section-footer-button__WJvxP css-1pvcaf" style="">
              {{ 'services.callUsNow' | translate }}
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
