<div class="container mt-4">
  <div class="mobile-app-container">
    <div class="content">
      <div class="details">
        <div class="title">
          <p>
            <p>{{ 'mobileApp.downloadText' | translate }}</p>
          </div>
        <div class="apps-images">
          <a class="pointer" href="https://play.google.com/store/apps/details?id=com.matlop.app" target="_blank">
            <img src="assets/images/mobile-app/Google_Play_Store_badge_EN.svg" alt="google play">
          </a>
          <a class="pointer"  href="https://apps.apple.com/us/app/matlop-%D9%85%D8%B7%D9%84%D9%88%D8%A8/id1610367657" target="_blank">
            <img src="assets/images/mobile-app/app store cta.svg" alt="apple store">
          </a>
        </div>
      </div>
      <div class="mobile-image">
        <img width="500" src="assets/images/mobile-app/iPhone 15 Pro(1).webp" alt="apple store">
      </div>
    </div>
  </div>
</div>
