<div class="container reservation-container">
  <div class="row">
    <div class="card flex justify-center mt-4 mb-4">
      <p-stepper [value]="currentStep" class="basis-[50rem]">
        <p-step-list>
          <p-step [value]="1" class="non-clickable">{{ 'Contract.CONTRACT_LIST' | translate }}</p-step>
          <p-step [value]="2" class="non-clickable">{{ 'PACKAGE.PACKAGE_LIST' | translate }}</p-step>
          <p-step [value]="3" class="non-clickable">{{ 'PACKAGE_DETAILS.TITLE' | translate }}</p-step>
          <p-step [value]="4" class="non-clickable">{{ 'PACKAGE_DETAILS.TITLE' | translate }}</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                  <!-- Listen to the contractSelected event -->
                  <app-contracts (contractSelected)="onNext(activateCallback, 2, $event)"></app-contracts>
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                  <app-packages *ngIf="contractId" [contractId]="contractId"
                    (contractSelected)="onNext(activateCallback, 3, $event)"></app-packages>
                </div>
              </div>
              <div class="flex pt-6 justify-between">
                <p-button [label]="'RESERVATION.BACK' | translate" severity="secondary" icon="pi pi-arrow-left"
                  (onClick)="onBack(activateCallback, 1)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                  <app-package-details [packageId]="packageId" *ngIf="packageId"></app-package-details>
                </div>
              </div>
              <div class="d-flex pt-6 justify-start" style="gap: 10px;">
                <p-button [label]="'RESERVATION.BACK' | translate" severity="secondary" icon="pi pi-arrow-left"
                  iconPos="left" (onClick)="onBack(activateCallback, 2)" />
                <p-button (onClick)="onNext(activateCallback, 4 , '')" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              </div>

            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                  <app-reservation-details></app-reservation-details>
                </div>
              </div>
              <div class="d-flex pt-6 justify-start" style="gap: 10px;">
                <p-button [label]="'RESERVATION.BACK' | translate" severity="secondary" icon="pi pi-arrow-left"
                  iconPos="left" (onClick)="onBack(activateCallback, 3)" />
                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>
  </div>
</div>
