<div class="home-container">

  <div class="slider-section">
    <app-slider></app-slider>
  </div>

  <div class="servises-section" style="margin-top:8rem">
    <app-services-section></app-services-section>
  </div>

  <div class="how-does-work">
    <app-how-does-work></app-how-does-work>
  </div>


  <div class="mobile-app-section" style="margin-top:auto">
    <app-mobile-apps></app-mobile-apps>
  </div>
 <div class="common-questions">
  <app-common-questions></app-common-questions>
 </div>

</div>
