::ng-deep {
  .packages-container {
    padding-bottom: 25px;

    .content {
      max-height: 500px;
      overflow: auto;
      padding-inline: 10px;

      .card {
        min-height: 90px;
        cursor: pointer;
        padding: 20px;
        border: 1px solid #f4f4f4;
        border-radius: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        }

        .card-content {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .details {
            display: flex;
            flex-direction: column;

            .title {
              p {
                font-size: 30px;
                font-weight: 900;
                color: gray;
              }
            }

            .visit-number {
              p {
                font-size: 20px;
                color: #434343;
              }
            }
          }
        }

        .package-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 10px;
          border-top: 1px solid #e3e3e3;
          margin-top: 15px;
        }
      }
    }
  }
}

.empty-state-text {
  font-size: 1.2rem;
  color: #666;
  margin-top: 2rem;
}
