<div class="page container">
      <div class="content d-flex justify-content-between flex-wrap">
        <div class="article w-50">
            <div class="header mb-4 mt-4">
                <p class="bolder">
                     {{'how_does.title'|translate}}
                </p>
              </div>
            <ng-container *ngFor="let item of data;let i =index">
                <div class="info">
                <div class="title">
                    <span class="id">{{i+1}} </span>
                    <span> {{item.title|translate}}  </span>
                  </div>
                  <div class="desc">
                    {{item.desc|translate}}
                  </div>
                </div>
    
             </ng-container>
        </div>
        
        <img  width="50%" height="500px" src="assets/images/howtowork.webp"  alt="img">
      </div>
</div>