<div class="header">
    <h1>{{'orders.details'|translate}}</h1>
</div>

<div class="container  mt-3 mb-3" *ngIf="order">
    <div class="steps mb-5 text-center">
        <div class="w-100 step-lg-screen">
            <p-steps  *ngIf="order?.orderStatusEnum!=8" [model]="steps" [activeIndex]="activeIndex" [readonly]="true" class="w-full"></p-steps>
            <h3  *ngIf="order?.orderStatusEnum==8" class="text-danger">{{'orders.canceled'|translate}}</h3>   
        </div>
        <h3  class="step-sm-screen mt-5">{{steps[order?.orderStatusEnum].label}}</h3>   
    </div>
    <div class="d-flex justify-content-between flex-wrap">
        <div class="w-49">
            <div class="bk-gray">
                <div class="text-center mb-4">
                    <span class="header-title">{{'orders.date_time_info'|translate}}</span>
                </div>
                <div class="d-flex justify-content-between flex-wrap mb-3">
                    <span>
                        <span class="pi pi pi-clock fz-icon-15 color-blue"></span>
                        <span class="fz-icon-15 color-gray">
                            {{convertDateTime(order.nextVistDate,'time',currentLang)}}</span>
                    </span>
                    <span>
                        <span class="pi pi-calendar-times fz-icon-15 color-blue"></span>
                        <span class="fz-icon-15 color-gray">
                            {{convertDateTime(order.nextVistDate,'date',currentLang)}}</span>
                    </span>
                </div>
            </div>
            <div class="details">
                <div class="d-flex justify-content-between flex-wrap">
                    <span>
                        <span class="pi pi-map-marker fz-20"></span>
                        <span>
                            {{'orders.location'|translate}}
                        </span>
                    </span>
                    <span class="bold">{{order.locationName}}</span>
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <span>
                        <span class="pi pi-gift fz-20"></span>
                        <span>
                            {{'orders.pkg_name'|translate}}
                        </span>
                    </span>
                    <span class="bold"> {{currentLang=='en'?order?.package?.nameEn:order?.package?.nameAr}} </span>
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <span>
                        <span class="pi pi-users fz-20"></span>
                        <span>
                            {{'orders.visitNumber'|translate}}
                        </span>
                    </span>
                    <span class="bold"> {{order?.package?.visitNumber}} </span>
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <span>
                        <span class="pi pi-clipboard fz-20"></span>
                        <span>
                            {{'orders.type_pkg'|translate}}
                        </span>
                    </span>
                    <span class="bold">
                        {{currentLang=='en'?order?.package?.typeOfPackageName:order?.package?.typeOfPackageNameAr}}</span>
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <span>
                        <span class="pi pi-clock fz-20"></span>
                        <span>
                            {{'orders.visitHours'|translate}}
                        </span>
                    </span>
                    <span class="bold"> {{order?.package?.visitHours|translate}}</span>
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <span>
                        <span class="pi pi-money-bill fz-20"></span>
                        <span>
                            {{'orders.price_pkg'|translate}}
                        </span>
                    </span>
                    <span class="bold">{{order?.package?.price}} {{'shared.rsa'|translate}}</span>
                </div>
            </div>
        </div>
        <div class="w-49 mb-3">
            <div class="order-img d-flex justify-content-between flex-wrap">
                <span class="bold"> 
                    <span *ngIf="order?.media?.length==0">
                        {{'orders.file'|translate}}
                    </span>
                  <span *ngIf="order?.media[0]?.mediaTypeEnum==1">  {{'orders.img'|translate}}</span>
                  <span  *ngIf="order?.media[0]?.mediaTypeEnum==2">  {{'orders.vedio'|translate}}</span>
                </span>
                <span *ngIf="order?.media?.length==0">
                    {{'orders.no_file'|translate}}
                </span>
                <ng-container *ngIf="order?.media[0]?.mediaTypeEnum==1">
                    <img *ngIf="order?.media?.length!==0" [src]="order?.media?.length?imgBaseUrl+order?.media[0]?.src:defaultImg" alt="order-img">
                </ng-container>
                <ng-container *ngIf="order?.media[0]?.mediaTypeEnum==2">
                    <video width="100%" height="380" controls>
                        <source [src]="order?.media?.length?imgBaseUrl+order?.media[0]?.src:defaultImg" type="video/mp4">
                       {{'shared.browser_warning'|translate}}
                      </video>
                </ng-container>
            </div>
            <div class="order-price-add d-flex justify-content-between flex-wrap">
                <span  class="bold">
                    {{'orders.price_add'|translate}}
                </span>
                <span>
                    {{order.totalWithAdditional}}
                    {{'shared.rsa'|translate}}
                </span>
            </div>
            <div class="order-notes">
                 <div class="d-flex justify-content-between flex-wrap">
                    <span  class="bold">
                        {{'orders.notes'|translate}}
                    </span>
                    <span *ngIf="!order.notes">
                        {{'orders.no_notes'|translate}}
                    </span>
                 </div>
                <div class="w-100 mt-3" *ngIf="order.notes">
                    <textarea class="w-full w-100" rows="5" cols="30" pTextarea [value]="order.notes" [readOnly]="true"></textarea>
                </div>
            </div>
          
        </div>
    </div>
</div>